# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/React Dev Test/node_modules
/React Dev Test/.pnp
/React Dev Test/.pnp.js

# testing
/React Dev Test/coverage

# production
/React Dev Test/build

# misc
/React Dev Test/.DS_Store
/React Dev Test/.env.local
/React Dev Test/.env.development.local
/React Dev Test/.env.test.local
/React Dev Test/.env.production.local

/React Dev Test/npm-debug.log*
/React Dev Test/yarn-debug.log*
/React Dev Test/yarn-error.log*
